<h1>List Your Space</h1>
<h2>nycBNB lets you make money renting out your place*</h2>
<form class="create-listing" action="" method="">
  <section class="form-part-1">
  <fieldset class="home-type clearfix">
    <input
      type="radio"
      id="home-type-apartment"
      name="listing[home_type]"
      value="apartment"
      <% if (listing.escape("home_type") === "apartment" ) { %>
        checked
      <% } %>>
    <label for="home-type-apartment">Apartment</label>

    <input
      type="radio"
      id="home-type-house"
      name="listing[home_type]"
      value="house"
      <% if (listing.escape("home_type") === "house" ) { %>
        checked
      <% } %>>
    <label for="home-type-house">House</label>

    <input
      type="radio"
      id="home-type-bed-and-breakfast"
      name="listing[home_type]"
      value="bed-and-breakfast"
      <% if (listing.escape("home_type") === "bed-and-breakfast" ) { %>
        checked
      <% } %>>
    <label
      for="home-type-bed-and-breakfast">
      Bed & Breakfast
    </label>

  </fieldset>

  <fieldset class="room-type clearfix">
    <input
      type="radio"
      id="room-type-entire-home"
      name="listing[room_type]"
      value="entire-home"
      <% if (listing.escape("room_type") === "entire-home" ) { %>
        checked
      <% } %>>
    <label for="room-type-entire-home">Entire home/apt</label>

    <input
      type="radio"
      id="room-type-private-room"
      name="listing[room_type]"
      value="private-room"
      <% if (listing.escape("room_type") === "private-room" ) { %>
        checked
      <% } %>>
    <label for="room-type-private-room">Private room</label>

    <input
      type="radio"
      id="room-type-shared-room"
      name="listing[room_type]"
      value="shared-room"
      <% if (listing.escape("room_type") === "shared-room" ) { %>
        checked
      <% } %>>
    <label for="room-type-shared-room">Shared room</label>
  </fieldset>

  <label for="guest-limit">Accomodates</label>
  <select id="guest-limit" name="listing[guest_limit]">
    <% for (var i = 1; i <= 16; i++) { %>
      <option value="<%= i %>"><%= i %>
        <% if (listing.escape("guest_limit") === i) { %>
          checked
        <% } %>
      </option>
    <% } %>
  </select>

  <label for="price">Price-per-night</label>
  <input
    type="number"
    min="1"
    step="1"
    name="listing[price_per_night]"
    id="price"
    placeholder="$65"
    value="<%= listing.escape("price_per_night") %>"
    >

  <label for="city">City</label>
  <input
    type="text"
    name="listing[city]"
    id="city"
    placeholder="Manhattan, Brooklyn, Queens..."
    value="<%= listing.escape("city") %>"
    >
  <button class="toggle-address">Address Details</button>
  </section>
  <section class="address-details hide-form">

  <label for="street-address">Street Address</label>
  <input
    type="text"
    name="listing[street_address]"
    id="street-address"
    placeholder="123 Medow lane..."
    value="<%= listing.escape("street_address") %>"
    >

  <label for="state">State</label>
  <input
    type="text"
    name="listing[state]"
    id="state"
    placeholder="New York..."
    value="<%= listing.escape("state") %>"
    >

  <label for="zip">Zip</label>
  <input
    type="text"
    name="listing[zip]"
    id="zip"
    placeholder="10001"
    value="<%= listing.escape("zip") %>"
    >


  <label for="title">Title</label>
  <input
    type="text"
    name="listing[title]"
    id="title"
    placeholder="Sunny 1BR in Brooklyn"
    value="<%= listing.escape("title") %>"
    >

  <label for="description">Description</label>
  <textarea
    type="textarea"
    rows="2"
    cols="40"
    name="listing[description]"
    id="description"
    placeholder="Sunny 1BR in Brooklyn"
    value="<%= listing.escape("description") %>"
    >
  </textarea>

  <div class="submit-container">
    <button class="submit disabled">Create Listing</button>
  </div>
  </section>
</form>
<section class="photo-upload">
  <input type="file" name="listing[listing-photo]" value="">
  <input type="file" name="listing[listing-photo]" value="">
  <input type="file" name="listing[listing-photo]" value="">
  <input type="file" name="listing[listing-photo]" value="">
</section>
