<section class="photos">

</section>
<section class="title-box">
  <article class="owner">
  </article>
  <article class="listing-highlights">
    <h1><%= listing.title%></h1>
    <h2><%= listing.city %></h2>
    <ul>
      <li id="room-type"><%= listing.room_type%></li>
      <li id="guest-limit"><%= listing.guest_limit%>
        <% if (listing.guest_limit === 1) {%>
        <%= Guest %>
        <% } %>
        <% else { %>
          Guests
        <% } %>
      </li>
    </ul>
  </article>
  <article class="listing-details">
    <h2>About This Listing</h2>
    <p>
      <%= listing.description %>
    </p>
  </article>

</section>
