<section class="photos">

</section>
<section class="title-box">
  <article class="owner">
    <%= owner.escape("email") %>
  </article>
  <article class="listing-highlights">
    <h1><%= listing.escape("title") %></h1>
    <h2><%= listing.escape("city") %></h2>
    <ul>
      <li id="room-type"><%= listing.escape("room_type") %></li>
      <li id="guest-limit"><%= listing.escape("guest_limit") %>
        <% if (listing.escape("guest_limit") === 1) {%>
          Guest
        <% } else { %>
          Guests
        <% } %>
      </li>
    </ul>
  </article>
  <article class="listing-details">
    <h2>About This Listing</h2>
    <p>
      <%= listing.escape("description") %>
    </p>
  </article>

</section>
