<section id="high-light-photo">
</section>
<div class="clearfix show-container">
  <section class="title-box clearfix">
    <article id="owner">

    </article>
    <article class="listing-highlights">
        <h1><%= listing.escape("title") %></h1>
        <h3><%= listing.escape("city") + ", " + listing.escape("state") %></h3>
        <h2 id="room-type"><%= listing.escape("room_type") + " | " + listing.escape("guest_limit")%>
          <% if (listing.escape("guest_limit") === "1") {%>
            Guest
          <% } else { %>
            Guests
          <% } %>
        </h2>
    </article>
  </section>
  <section id="trip-form" class="trip-form">
    <header class="trip-form-header clearfix">
      <div class="price">
        $<%= listing.escape("price_per_night") %>
      </div>
      <div class="price-unit">
        Per Night
      </div>
    </header>
    <form class="reserve-form" action="" method="">
      <label for="datepicker-start">Start Date</label>
      <input type="text" id="datepicker-start" name="start_date" value="">
      <label for="datepicker-end">End Date</label>
      <input type="text" id="datepicker-end" name="end_date" value="">
      Guests
      <select class="guests" name="guests">
        <% for (var i = 1; i <= listing.get("guest_limit"); i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
      <button>Request to Book</button>
    </form>
  </section>
</div>
<section class="about-box">
  <h1>About This Listing</h1>
  <p>
    <%= listing.escape("description") %>
  </p>
</section>
<section id="show-photos" class="clearfix">
</section>
