<div class="clearfix">
  <section class="room-details">
    <!-- <h2><%= room.escape("title") %></h2> -->
    <h2><%= room.escape("street_address") %></h2>
    <a href="#listings/<%= room.id %>"><%= room.escape("city") %></a>
    <nav class="room-nav">
    <button
      class="status
        <%= room.get('active') ? 'active' : 'inactive'%>
      ">
    </button>
    <button class="edit" id="edit">Edit</button>
    <button class="delete" id="delete"></button>
    </nav>
  </section>
  <section class="room-highlight-photo" id="add-photo-<%=room.id%>">
    <img src="<%=room.primaryPhoto.get('small_url')%>"/>
    Add Photos
  </section>
</div>
<section class="errors">
</section>
