<section data-trip-id="<%=trip.get("id")%>" class="trip-content">
  <article class="trip-date">
    Trip Start Date: <%=trip.get("start_date")%>
  </article>
  <article class="trip-date">
    Trip End Date: <%=trip.get("end_date")%>
  </article>
  <article class="trip-location">
    <%=listing.get("street_address") + " " + listing.get("city") + " " + listing.get("state")%>
  </article>
  <button class="cancel-trip">Cancel Trip</button>
</section>
<section class="trip-show-listing-photo photo">
  <% if (listing.primaryPhoto) { %>
    <img src="<%=listing.primaryPhoto.get("small_url")%>">
  <% } %>
</section>
