<!DOCTYPE html>
<html>
<head>
  <title>CapStoneProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
        <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if logged_in? %>
  <form class="" action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= authorize_page %>
  </form>
<% end %>

<%= yield %>

<script charset="utf-8">
  $(document).ready(function() {
    $("form #email").keyup(function(e){
     var value = $(e.currentTarget).val();
     if(value === ""){
       $(this).removeClass("text-entered")
     } else {
       $(this).addClass("text-entered")
     }
   });
  })
</script>

<% if Rails.env.production? %>
  <% api_key = "key=AIzaSyAX7tNeAfuOlHEUtJTFt8RhHTrBF1wdUns" %>
<% else %>
  <% api_key = '' %>
<% end %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?<%= api_key %>"></script>

</body>
</html>
